.section {
    box-shadow: 0px 0px 5px 4px #66666654;
    border-radius: 25px;
    padding-bottom: 20px;
    margin-top: 60px;
    background-color: #fff;
}

.section__header {
    color: #ffffff;
    background-color: #116d6d;
    text-align: center;
    padding: 5px 15px;
    border-radius: 25px 25px 0px 0px;
}

.section__articleHeader {
    font-size: 22px;
}

.section__article {
    margin: 40px 0px;
    padding: 0px 30px;
}

.section__content {
    margin: 0px 20px;
    color: #464646;
    text-align: justify;
}